@import './base.css';

/*darkMode start*/
.darkmode-switch {
  /* transform: scale(0.9); */
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  position: relative;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
  border: 2px solid #eee;
  background-color: #2196F3;
  background-image: radial-gradient(circle, #fefefe 20%, transparent 30%), radial-gradient(circle, #fefefe 20%, transparent 30%), radial-gradient(circle, #fefefe 20%, transparent 30%), radial-gradient(circle, #fefefe 20%, transparent 30%), radial-gradient(circle, #fefefe 20%, transparent 30%), radial-gradient(circle, #fefefe 20%, transparent 30%);
  background-size: 50% 50%, 60% 60%, 40% 40%, 40% 40%, 50% 50%, 40% 40%;
  background-position: 60% 82%, 80% 80%, 82% 80%, 110% 20%, 134% 12%, 130% 20%;
  background-repeat: no-repeat;
}

.darkmode-switch:hover {
  transform: scale(1.025);
}

.darkmode-switch:before {
  content: "";
  bottom: 11.7647059%;
  height: 76.4705882%;
  width: 43.3333333%;
  left: 6.666666667%;
  position: absolute;
  background-color: #fff;
  transition: .4s;
  border-radius: 50%;
  background-color: #ffeb3b;
  background-image: radial-gradient(circle, #ffc107 15%, #ffeb3b 100%);
  box-shadow: 0px 0px 20px 10px rgba(255, 235, 255, 0.4);
  transition: transform ease-in .2s;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.dark .darkmode-switch {
  background-color: #66bb6a;
  background-color: #023660;
  background-image: radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%);
  background-size: 8% 8%, 7% 7%, 6% 6%, 8% 8%, 8% 8%, 6% 6%, 6% 6%, 8% 8%, 7% 7%;
  background-position: 20% 20%, 45% 30%, 25% 55%, 20% 90%, 40% 60%, 5% 50%, 58% 10%, 58% 60%, 50% 80%;
  background-repeat: no-repeat;
}

.dark .darkmode-switch:before {
  transform: translateX(100%);
  background-color: #ddd;
  background-image: radial-gradient(circle, #c4c4c4 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%);
  background-size: 40% 40%, 25% 25%, 50% 50%, 30% 30%;
  background-position: 20% 20%, 65% 30%, 120% 100%, 20% 80%;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
}
/*darkMode end*/

/* hamburger-menu start */
    .hamburger-menu {
        width: 0%;
        opacity: 0%;
        overflow: hidden;
        transition: all 200ms ease-in-out;
    }
    .hamburger-menu.open{
        width: 100%;
        opacity: 100%;
        padding: 24px;
    }
/* hamburger-menu end */

/* gelatine effect start */
.gelatine:hover,
.gelatine:focus,
.gelatine:active,
.gelatine:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
/* gelatine effect end */